@CHARSET "UTF-8";

body{
    background-color: lightblue;
}
.box{
    border: 4px dotted #999;
    padding: 12px;
    margin: 5px;
    font-family: "Exo";
    font-weight: normal;
    border-radius: 12px;
}

#display{
    background-color: #fff;
    border-radius: 30px;
    border: 4px inset #000;
    width: 80%;
    padding: 30px;
    margin: 20px
}